ACCESS_TOKEN_EXPIRE_MINUTES=
API_V1_STR=
AUTH_SECRET=replace-with-development-auth-secret
DATABASE_URL=
FRONTEND_URL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NEXTAUTH_SECRET=
NEXT_PUBLIC_BACKEND_API_URL=
NEXT_PUBLIC_ADMIN_PANEL_URL=
NEXT_PUBLIC_RAZORPAY_KEY_ID=
PAYMENT_CURRENCY=
PROJECT_NAME=
SECRET_KEY=
VENDOR_API_URL=
RAZORPAY_WEBHOOK_SECRET=replace-with-webhook-secret
VERSION=